<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="headerLogo">Logo</div>
            <div class="headerMenu">
                <div class="item1"><a href="">Item1</a></div>
                <div class="item1"><a href="">Item2</a></div>
                <div class="item1"><a href="">Item3</a></div>
              
            </div>
        </header>
        <h1>Simple WebSocket Chat</h1>
        <div id="chat"></div>
        <input type="text" id="messageInput" placeholder="Type your message here...">
        <button id="sendBtn">Send</button>
        
        <footer>
            <ul class="list list1">
                <li>
                   <a href="">Item1</a>
                </li>
                <li>
                    <a href="">Item2</a>
                </li>
                <li>
                    <a href="">Item3</a>
                </li>
                <li>
                    <a href="">Item4</a>
                </li>
            </ul>

            <ul class="list list2">
                <li>
                   <a href="">Item1</a>
                </li>
                <li>
                    <a href="">Item2</a>
                </li>
                <li>
                    <a href="">Item3</a>
                </li>
                <li>
                    <a href="">Item4</a>
                </li>
            </ul>

            <ul class="list list3">
                <li>
                   <a href="">Item1</a>
                </li>
                <li>
                    <a href="">Item2</a>
                </li>
                <li>
                    <a href="">Item3</a>
                </li>
                <li>
                    <a href="">Item4</a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="/scripts/main.js"></script>
</body>
</html>